
$col-viol: hsl(263, 55%, 52%);
$col-gray-blue: hsl(217, 19%, 35%);
$col-black-blue:hsl(219, 29%, 14%);
$col-white: hsl(0, 0%, 100%);
$col-light-gray: hsl(0, 0%, 81%);
$col-light-gray-blue: hsl(210, 46%, 95%);

$ff:'Barlow Semi Condensed', sans-serif;
$fw-medium: 500;
$fw-heavy: 600;

$fs: 0.8125rem;